
build/*
*.obj
Sample/D3D12Sample/.vs/*
Platform/Windows/HelloEngine_opengl.exe
*.ipch
Sample/D3D12Sample/d3d12book-master/Chapter 4 Direct3D Initialization/Init Direct3D/.vs/*
*.db
*.tlog
Sample/D3D12Sample/x64/*
Sample/D3D12Sample/Project/InitDirect3D/x64/*
